* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Css************************ */

.progress-bar span {
  display: none !important;
}

/* btns##################### */

.btn1 {
  padding: 5px 5px;
  background-color: #666;
  color: #ffff;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid #666;
  outline: none;
  width: 200px;
}
.btn1:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid #666;
}
.btn2 {
  outline: none;
  cursor: pointer;
  border-right: 1px solid #666;
  border-left: none;
  border-bottom: none;
  border-top: none;
  font-size: 14px;
  width: 100%;
  padding: 0px 3px;
  background-color: rgb(83, 82, 88);
  color: #fff;
}
.btn2:focus {
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.btn2:active {
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.btn3 {
  background-color: blue;
  color: white;
  font-size: 14px;
  padding: 4px 4px;
  border: 1px solid #666;
  outline: none;
  border-radius: 2px;
  margin-left: 5px;
}
.graph-height {
  height: 70px;
  width: 200px;
}
.device-mt {
  margin-top: 2rem;
}
.mt {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}
.h3first {
  color: #666;
  font-weight: 700;
  font-size: 22px;
}
.h6first {
  font-size: 18px;
  font-weight: 700;
  color: #424242;
}
.p1 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(3, 3, 3, 0.651);
  margin-bottom: 0px;
}
.p2 {
  font-size: 12px;
  color: rgb(12, 12, 12);
  font-weight: 500;
}
.p2 span {
  color: rgba(39, 37, 37, 0.623);
}
.p3 {
  font-size: 18px;
  color: rgba(3, 3, 3, 0.651);
}
.p4 {
  font-size: 18px;
  color: rgba(3, 3, 3, 0.651);
  margin-top: 5px;
  font-weight: 500;
  margin-bottom: 0;
}
.p5 {
  font-size: 20px;
  color: rgba(3, 3, 3, 0.651);
  font-weight: 700;
  margin-bottom: 0;
}
.lc {
  margin-top: 2rem;
}
.num {
  color: #424242;
  font-weight: 600;
  font-size: 18px;
}
.num2 {
  font-size: 14px;
}
.num3 {
  font-size: 16px;
  font-weight: 500;
}
.num4 {
  font-size: 16px;
  color: #424242;
}
.num5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.bgwht {
  background-color: #fff;
  padding: 10px;
}
.computer {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.411);
  border-right: 1px dotted rgba(0, 0, 0, 0.411);
  padding: 5px;
}
.computer svg {
  font-size: 28px;
}
.tablet {
  border-right: 1px dotted rgba(0, 0, 0, 0.411);
  padding: 5px;
}
.tablet svg {
  font-size: 27px;
}
.mobile {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.411);
  padding: 5px;
}
.mobile svg {
  font-size: 27px;
}
.tv {
  padding: 5px;
}
.tv svg {
  font-size: 27px;
}

.right-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.right-align .react-tabs__tab-list {
  border: none;
}
.right-align .react-tabs__tab {
  border: 1px solid #666;
  padding: 0 10px;
  background-color: #666;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.right-align .react-tabs__tab--selected {
  background-color: #fff;
  color: #000;
  border-radius: 0;
}

.right-align .Dropdown-control {
  border: none;
  background-color: #666;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 2px 52px 5px 10px;
  margin-top: 10px;
  margin-left: 14px;
}
.right-align span.Dropdown-arrow {
  border-color: rgb(255, 255, 255) transparent transparent;
}
/* multiple tabs********************************* */
.multiple-tabs {
  margin-top: 1rem;
}
.multiple-tabs .react-tabs__tab {
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
  font-size: 16px !important;
  display: flex !important;
  align-items: center;
  border-radius: 2px;
}
.multiple-tabs .react-tabs__tab:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* font-weight: 500; */
}

.multiple-tabs .react-tabs__tab-list {
  border-bottom: none;
  display: flex;
}
.multiple-tabs .react-tabs__tab--selected {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  border: 1px solid #666;
  font-weight: 500;
}
.multiple-tabs .react-tabs__tab-panel--selected {
  background-color: #fff;
}

/* tabpannel multiple &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.ph {
  padding: 10px;
  box-shadow: 1px 1px 5px #0000008c;
}
.pls {
  padding: 10px;
}
.prs {
  padding: 10px;
}
.br {
  border-right: 1px dotted rgba(0, 0, 0, 0.411);
}
.hb {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.411);
}
.cb {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.411);
  padding-top: 10px;
  display: flex;
  align-items: center;
}

/* audience profile****************/
.dtr {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dtr table {
  width: 100%;
}
.tw {
  width: 100%;
}
.dtl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  border-right: 1px dotted rgba(0, 0, 0, 0.411);
}

/* overview interest ******************* */

.table-dd .Dropdown-control {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000;
  width: 100%;
  font-weight: 600;
}
.table-dd .Dropdown-control:hover {
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.table-dd .Dropdown-arrow-wrapper span.Dropdown-arrow {
  border-width: 6px 6px 0;
  border-color: #000 transparent transparent;
  right: 50px;
  top: 20px;
}

.table-dd1 {
  padding-left: 20px;
}

.table-dd1 .Dropdown-control {
  background-color: transparent;
  border: 1px solid #000;
  font-size: 16px;
  color: #000;
  width: 150px;
  font-weight: 600;
}
.table-dd1 .Dropdown-control:hover {
  box-shadow: none;
  border: 1px solid #000;

  cursor: pointer;
}
.table-dd1 .Dropdown-arrow-wrapper span.Dropdown-arrow {
  border-width: 6px 6px 0;
  border-color: #000 transparent transparent;
  right: 50px;
  top: 20px;
}

.plr {
  padding-left: 10px;
  width: 60%;
}

.pa {
  padding: 10px;
}

.imgst img {
  width: 50px;
  height: auto;
}
.imgst1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.border-both {
  border-right: 2px dotted rgba(0, 0, 0, 0.411);
  border-left: 2px dotted rgba(0, 0, 0, 0.411);
}
.bg-wht {
  background-color: #fff;
  margin-top: 1rem;
}

.audience-drop .Dropdown-control {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.audience-drop .Dropdown-control:hover {
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.audience-drop .Dropdown-arrow-wrapper span.Dropdown-arrow {
  border-width: 8px 8px 0;
  border-color: #000 transparent transparent;
  right: 50px;
  top: 20px;
}

/* custom css EEEEEEEEEEENDDDDDDDD ************************************************************ */

p {
  margin-bottom: 0;
  padding: 0;
}
h5 {
  margin: 0;
  padding: 0;
}

/* Sidebar****************************** */
.sc-cUEOzv.klWHUo.pro-sidebar.CDBSidebar {
  background-color: #fff;
  color: black;
}
.sc-bCfvAP.bJmMch.pro-sidebar-content {
  padding: 0;
}
nav.sc-AHaJN.hhTtXw.pro-menu {
  padding: 0;
}
.hhvltt a {
  color: #666 !important;
  font-size: 16px;
}
.hhvltt a li.sc-jfTVlA.gEYqUT:active {
  background-color: #000;
  color: #fff;
}
.hhvltt a li.sc-jfTVlA.gEYqUT:focus {
  background-color: #000;
  color: #fff;
}
.hhvltt a li.sc-jfTVlA.gEYqUT:hover {
  background-color: #666;
  color: #fff;
  /* margin: 10px 0; */
}

/* App ************************************ */
.app {
  width: 100%;
  display: flex;
}
.app-right {
  width: 100%;
  background-color: #f2f2f2;
}

/* sidebar ************************************/

.sc-dPWrhe.cQiZws {
  height: 100vh;
}

/* Topbar****************************************/

.topbar {
  display: flex;
  padding: 18px 30px;
  align-items: center;
  background-color: #cccccc;
}
.topbar-left {
  width: 30%;
}
.topbar-left .Dropdown-control {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #666;
  font-weight: 700;
}
.topbar-left .Dropdown-control:hover {
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.topbar-left .Dropdown-arrow-wrapper span.Dropdown-arrow {
  border-width: 10px 10px 0;
  border-color: #666 transparent transparent;
  right: 50px;
  top: 20px;
}
.topbar-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  /* text-align: end; */
}
.dropbtn {
  background-color: transparent;
  color: #666;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 2px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  right: -25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 16;
}

.dropdown-content a svg{
 font-size:  18px !important;
 padding-right: 2px;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: rgb(59, 59, 59);

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(88, 88, 88, 0.438);
  border-radius: 50%;
  color: #f2f2f2;
}
.topbar .topbar-right svg {
  font-size: 38px;
}
.Dropdown-menu {
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.Dropdown-option.is-selected {
  background-color: #f2f2f2 !important;
  color: #333;
}
.Dropdown-option:hover {
  background-color: #f2f2f2 !important;
  color: #333;
}
/* Overview *************************** */
.overview {
  padding: 10px;
}
.overview-top {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  background-color: #fff;
  align-items: center;
  box-shadow: 1px 1px 5px #0000008c;
}
.overview-top-left {
  width: 45%;
}
.overview-top-right {
  width: 55%;
}
.overview-top-right .overview-top-right-content p {
  margin-bottom: 0;
}
/*  summary Tabs ********************************* */

.summary-wrapper {
  display: flex;
  width: 100%;
}

.summary-wrapper-left {
  width: 55%;
  border-right: 1px dotted rgba(0, 0, 0, 0.411);
}
.summary-wrapper-left .summary-left-top {
  display: flex;
  width: 100%;
}
.summary-left-top-content {
  width: 25%;
}

.summary-wrapper-right {
  width: 45%;
}
.summary-wrapper-right-visitordetails {
  width: 100%;
  display: flex;
}
.summary-wrapper-right-visitordetails-left {
  width: 50%;
}
.summary-wrapper-right-visitordetails-right {
  width: 50%;
  padding-left: 10px;
}
.visitor-content {
  display: flex;
  justify-content: space-between;
}
.visitor-heading {
  display: flex;
  justify-content: space-between;
}

/* Devicess*********************************88 */
.summary-wrapper-right-device-all {
  width: 100%;
  display: flex;
}
.summary-wrapper-right-device-alltabs {
  width: 50%;
}
.summary-wrapper-right-device-alltabs-computer {
  display: flex;
  justify-content: space-between;
}
.summary-wrapper-right-device-alltabs-tablet {
  display: flex;
  justify-content: space-between;
}
.summary-wrapper-right-device-alltabs-mobile {
  display: flex;
  justify-content: space-between;
}
.summary-wrapper-right-device-alltabs-tv {
  display: flex;
  justify-content: space-between;
}

/* Audience profile*************************** */
.audience {
  padding: 5px;
}
.audience-wrapper {
  padding: 10px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  width: 100%;
}

/* Audience Interest ********************** */
.audience-interest {
  padding: 5px;
}
.audience-interest-wrapper {
  padding: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
Table tr {
  border: 1px solid rgba(87, 84, 84, 0.473);
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}
/* refferal-source $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.refferal-source-wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
}
.refferal-source-wrapper-left {
  padding-right: 20px;
  width: 40%;
}
.refferal-source-wrapper-right {
  padding: 10px;
  width: 60%;
}

/* Geo Location ******************************* */

.geolocation-wrapper {
  width: 100%;
  display: flex;
}
.geolocation-wrapper-left {
  width: 40%;
  border-right: 1px dotted rgba(0, 0, 0, 0.411);
  padding-right: 10px;
}
.geolocation-wrapper-top {
  width: 100%;
  align-items: center;
  display: flex;
}
.geolocation-wrapper-right {
  width: 60%;
}

/* Content@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.content {
  padding: 5px;
}
.content-wrapper {
  width: 100%;
  display: flex;
}
.content-wrapper-first {
  width: 100%;
  padding: 5px;
}
.content-wrapper-second {
  width: 100%;
  padding: 5px;
}
.content-wrapper-third {
  width: 100%;
  padding: 5px;
}
.content-wrapper-fourth {
  width: 100%;
  padding: 5px;
}
/* / liveview%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.liveview {
  padding: 5px;
  width: 100%;
}
.liveview-wrapper {
  display: flex;
  width: 100%;
}
.liveview-wrapper-left {
  width: 30%;
}

.liveview-wrapper-left-bargraph {
  width: 100%;
  height: 150px;
}
.liveview-wrapper-left-graph-multi {
  width: 100%;
  display: flex;
}
.liveview-wrapper-left-graph-multi-first {
  width: 50%;
}
.liveview-wrapper-left-graph-multi-first svg.recharts-surface {
  height: 170px;
}
.liveview-wrapper-left-graph-multi-second {
  width: 50%;
}
.liveview-wrapper-left-graph-multi-second svg.recharts-surface {
  height: 170px;
}
/*   middle&&&&&&&&&&&&&&&&&&& */

.liveview-wrapper-right-side {
  width: 70%;
}
.liveview-wrapper-middle {
  width: 60%;
  padding: 5px;
}
.liveview-wrapper-middle-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.liveview-wrapper-middle-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}
.liveview-wrapper-middle-graph {
  height: 200px;
  width: 100%;
  margin-top: 1rem;
}
.liveview-wrapper-middle-second-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.liveview-wrapper-middle-second-bottom {
  display: flex;
  width: 100%;
}
.liveview-wrapper-middle-second-bottom-left {
  width: 45%;
  border-right: 1px solid rgba(95, 93, 93, 0.123);
}
.liveview-wrapper-middle-second-bottom-right {
  width: 55%;
}
.liveview-wrapper-middle-second-bottom-right-graph {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid rgba(114, 111, 111, 0.151);
}
.liveview-wrapper-middle-second-bottom-right-graph svg.recharts-surface {
  height: 150px;
  width: 150px;
}
.recharts-wrapper {
  height: 100px;
}
/* right************************************* */
.liveview-wrapper-right {
  width: 40%;
}
.liveview-wrapper-right-side-wrapper {
  width: 100%;
  display: flex;
}
.liveview-wrapper-right-first-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.liveview-wrapper-right-first-bottom-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 5px 0;
  border-bottom: 1px solid rgba(134, 127, 127, 0.281);
}

/* left-liveview-publishing ********************************* */
.publishing-content {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
  height: 80px;
}
.publishing-content-left {
  width: 50%;
}
.publishing-content-right {
  width: 50%;
}
.liveview-wrapper-left-second-authors {
  margin-top: 5rem;
}
.liveview-wrapper-left-second-authors-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.liveview-wrapper-left-second-authors-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*  Audience Segments^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.audience-segment-bottom {
  padding: 10px;
  background-color: #ffff;
  margin-top: 2rem;
  box-shadow: 1px 1px 5px #0000008c;
}
.audience-segment-bottom-table {
  display: flex;
  width: 100%;
  border-top: 2px dotted rgba(0, 0, 0, 0.411);
  margin-top: 1rem;
  padding: 10px 0;
}
.audience-segment-bottom-table-left-head {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  height: 71px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.411);
}
.audience-segment-bottom-table-middle-head {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.411);
}

/*  table left********************** */

.audience-segment-bottom-table-left {
  width: 30%;
  padding: 0 10px;
}
.audience-segment-bottom-table-left-data {
  display: flex;
  width: 100%;
  padding: 5px 0;
  height: 100px;
  align-items: center;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.411);
}
.audience-srno {
  width: 10%;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.audience-drop {
  width: 90%;
}

/*  middle ******************************************* */

.audience-segment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audience-segment-top-left {
  display: flex;
  width: 30%;
  align-items: center;
}
.audience-segment-top-middle {
  width: 40%;
}
.audience-segment-top-middle input {
  outline: none;
  border: 1px solid #666;
  padding: 2px 5px;
  border-radius: 2px;
}
.audience-segment-top-right {
  width: 30%;
  display: flex;
  align-items: center;
}
.audience-segment-top-right-time-drop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.audience-segment-bottom-table-middle {
  width: 35%;
  padding: 0 10px;
}
.audience-segment-bottom-head {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}
.audience-segment-bottom-head-right {
  display: flex;
}

.audience-segment-bottom-table-middle-gendertype {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.411);
  padding: 6px;
}

.audience-segment-bottom-table-middle-datas {
  display: flex;
  width: 100%;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.411);

  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
  height: 105px;
}
.middle-datas-num {
  width: 20%;
}
.middle-datas-range {
  width: 40%;
}
.middle-datas-graph {
  width: 40%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: flex-end;
}

.middle-datas-graph .recharts-responsive-container {
  /* width: 170px; */
  text-align: end;
}
.middle-datas-graph .recharts-wrapper {
  width: 120px;
}
.middle-datas-graph svg.recharts-surface {
  height: 100px;
  width: 100px;
}

/* Source ********************************************************************* */

.source-top {
  display: flex;
  width: 100%;
  /* margin-bottom: 2rem; */
}
.source-top-left {
  width: 70%;
}
.source-top-left-time {
  width: 30%;
}
.source-top-left-btn-drop {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.source-bottom-first {
  width: 100%;
  display: flex;
}
.source-bottom-first-left {
  width: 30%;
}
.source-bottom-first-left-chart {
  width: 100%;
  display: flex;
  justify-content: center;
}
.source-bottom-first-right {
  width: 70%;
}
.source-bottom-first-right-matric {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* Content *(************************************************** */

.source-bottom-wrapper {
  display: flex;
  width: 100%;
  padding: 32px 0;
}
.source-bottom-wrapper-left-btns {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: none;

  display: flex;
}
.source-bottom-wrapper-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.source-bottom-wrapper-middle {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.source-bottom-wrapper-right {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Audience-first-segment------ summary------ ************************************   */
.summary-audience {
  width: 100%;
  display: flex;
  padding: 10px;
  box-shadow: 1px 1px 5px #0000008c;
}
.summary-audience-wrapper-left {
  width: 40%;
}
.summary-audience-wrapper-right {
  width: 60%;
}
/* audience-engagement */
.audience-engagement {
  width: 100%;
  padding: 10px;
  box-shadow: 1px 1px 5px #0000008c;
}

/* AudienceEngagement &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.audience-engagement-wrapper {
  width: 100%;
  display: flex;
}
.audience-engagement-wrapper-left {
  width: 60%;
}
.audience-engagement-wrapper-right {
  width: 40%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.audience-engagement-bottom-left {
  width: 50%;
}
.audience-engagement-bottom-right {
  width: 50%;
}
.audience-engagement-bottom {
  display: flex;
  padding-top: 1rem;
  width: 100%;
}

/* Geography location ************************************************ */
.audiencegeography-wrapper-map {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
  padding: 10px;
  margin-top: 1rem;
  background-color: #fff;
}
.audiencegeography-wrapper-map svg {
  height: 500px;
  width: 100%;
}

/* audience-engagement-types-table-bottom-head***************************** */
.audience-engagement-types-table-bottom-head {
  display: flex;
  width: 100%;
}
.audience-engagement-types-table-bottom-head-left {
  width: 50%;
  display: flex;
}
.audience-engagement-types-table-bottom-head-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
